<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout ToDo 😲</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Ajout ToDo</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Accueil</a></li>
        </ul>
    </nav>
    <main>
        <form action="/create" method="post">
            <label for="nom">Titre :</label>
            <input type="text" id="nom" name="nom" required>
            
            
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" cols="50"></textarea><br>
            
            <button type="submit">Ajouter !</button>
        </form>
    </main>
    <footer>
        <p>Batyste - © 2024</p>
    </footer>
</body>
</html>
